@model IEnumerable<int>

@{
    ViewBag.Title = "IndexInt";
}

<h2>IndexInt</h2>

<p>
    @Html.ActionLink("Upload Json File", "UploadInt")
</p>
<p ALIGN="right">
    @Html.ActionLink("Pre-Orden", "OrdenInt", new { order = "PreOrder" })&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("In-Orden", "OrdenInt", new { order = "InOrder" })&nbsp;&nbsp;&nbsp;
    @Html.ActionLink("Post-orden", "OrdenInt", new { order = "PostOrder" })
</p>
<table class="table">
    <tr>
        <th>
            Numero
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id = item }) |
                @Html.ActionLink("Details", "Details", new { id = item }) |
                @Html.ActionLink("Delete", "Delete", new { id = item })
            </td>
        </tr>
    }

</table>
