@model IEnumerable<Laboratorio_2_ABB.Models.Pais>

@{
    ViewBag.Title = "IndexPais";
}

<h2>IndexPais</h2>

<p>

    @Html.ActionLink("Upload Json File", "UploadPais")

    @Html.ActionLink("Add Pais", "AddPais")
</p>
<p ALIGN="right">
    @Html.ActionLink("Is Degenerate?", "IsDegeneratePais")
    @Html.ActionLink("Is Balanced?", "IsBalancedPais")
    @Html.ActionLink("Pre-Orden", "OrdenPais", new { order = "PreOrder" })
    @Html.ActionLink("In-Orden", "OrdenPais", new { order = "InOrder" })
    @Html.ActionLink("Post-orden", "OrdenPais", new { order = "PostOrder" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Grupo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupo)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item .id}) |*@
                @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@) |
                @Html.ActionLink("Delete", "DeletePais", new { id = item.id })
            </td>
        </tr>
    }

</table>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}
